<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/db_oportunidade</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.password">postgres</property>
		<property name="show_sql">true</property>

		<mapping class="taed_portfolio.model.entidade.Membros"/>
		<mapping class="taed_portfolio.model.entidade.Pessoa"/>
		<mapping class="taed_portfolio.model.entidade.Projeto"/>
		
	</session-factory>
</hibernate-configuration>